.form-wrapper {
  display: flex;
}

.wallet-info {
  font-size: 10px;
  text-align: right;
  margin: 0 5px;
}

.wallet-info .number {
  font-size: 12px;
}

.notify {
  margin-top: 10px;
  font-size: 10px;
}

.submit-button-container {
  display: flex;
  flex-direction: column;
}

.withdraw-container {
  display: flex;
}
/* 
.amount-input {
  padding: 12px 20px;
  text-align: right;
  font-size: 24px;
  border-radius: 6px;
  border: none;
} */

.amount {
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.number {
  font-family: 'Coda';
}

.amount-number {
  font-size: 18px;
  color: #333;
}

.form-content-container .button-base {
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  padding: 15px 30px;
  margin-top: 12px;
  text-transform: uppercase;
  color: #3b3b3b;
}

#claim-btn {
  margin-right: 10px;
}

.farm-amount-input {
  width: 100%;
  margin-bottom: 20px;
}

.btn-row {
  display: flex;
  flex-direction: row;
  width: calc(100% + 10px);
  margin: 0 -5px 0 -5px;
}

.btn-row input {
  flex: 1;
  margin: 0 5px;
}
