.pool .form-content-container {
  width: 40vw;
}

.rate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 1px dashed #666;
  padding: 10px 0;
  margin-top: 20px;
}

.rate-info {
  font-size: 12px;
  font-weight: 600;
  color: #666;
}

.rate-info .number {
  font-size: 14px;
  color: #333;
}

.pool-amount-input {
  margin-bottom: 4px;
  position: relative;
  width: 100%;
}

.plus-icon {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 999px;
  height: 24px;
  position: absolute;
  bottom: -14px;
  left: calc(50% - 12px);
}